nav{
    background-color: darkgreen;
    padding-left: 10px;
    border-radius: 5px;
    
}
nav > h1{
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-top: 10px;
     font-size: 30px;
     color: #fff;
     font-weight: 500;
}
nav ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 30%;
    padding-bottom: 10px;
}
nav ul a{
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    margin-left: 100px;
}